NEXT_PUBLIC_SUPABASE_URL=https://nmsaxkusgrdjjaztfmie.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_wwN9aDuz6_nMZ6WwZomgTg_WMa2selA
SUPABASE_SERVICE_ROLE_KEY=sb_secret_6uJVsi7epo8YPngJoHZWPw_xqOlJTDl